<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode" version="18.5.0" targetFramework="monoandroid81" />
  <package id="Aspose.PDF" version="18.5.0" targetFramework="monoandroid81" />
  <package id="Aspose.Words" version="18.5.0" targetFramework="monoandroid60" />
  <package id="lcpi.data.oledb" version="1.7.1.3418" targetFramework="monoandroid81" />
  <package id="lcpi.lib" version="2.1.1.1665" targetFramework="monoandroid81" />
  <package id="NUnit" version="3.6.1" targetFramework="monoandroid60" />
  <package id="nunit.xamarin" version="3.6.1" targetFramework="monoandroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="monoandroid81" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="monoandroid81" />
  <package id="System.Security.Permissions" version="4.4.0" targetFramework="monoandroid81" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="monoandroid81" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="monoandroid60" />
</packages>